* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 30px;
}

h1 {
    font-family: sans-serif;
    margin-bottom: 30px;
    color: #333;
}

form {
    position: relative;
}

p {
    text-align: left;
    margin-bottom: 10px;
    color: #0a0235;
    font-weight: 400;
    font-style: italic;
    font-family: poor richard;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
